body {
    margin: 0;
    padding: 0;
    color: white;
}
#container {
    position: relative;
    margin: 3% auto;
    height: 600px;
    width: 1000px;
}

/*general*/
.bg {
    position: absolute;
    height: 600px;
    width: 1000px;
    
    background-color: rgba(0, 0, 0, 0.7);
    transition: display 0.5s;
}
.btn {
    display: inline-block;
    padding: 20px;
    width: 400px;

    font: 30pt DFKai-SB;
    background-color: none;
    transition: color 0.5s, background-color 0.5s;
    cursor: pointer;
}
.btn:hover {
    color: black;
    background-color: white;
}

/*menu*/
#menu-bg {
    display: block;
    z-index: 100;
}
#menu-bg #btn-container {
    text-align: center;
    margin-top: 150px;
}
#menu-bg #btn-container #start {
    font: 70pt DFKai-SB;
}
#setting {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;

    background-image: url('img/setting.png');
    background-size: contain;

    z-index: 150;
}
#menu-bg #tips {
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;

    font: 20pt DFKai-SB;
}
#menu-bg #tips #tips-key {
    font: 15pt Arial;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
}

/*count down*/
#countdown-bg {
    display: none;
    text-align: center;

    z-index: 200;
}
#countdown-bg #countdown {
    display: inline-block;
    margin-top: 200px;
    font: 80pt Arial;
}

/*point timeout*/
#timeout-bg {
    display: none;
    text-align: center;

    z-index: 300;
}
#timeout-bg #point-timeout {
    margin-top: 200px;
    font: 80pt Arial;
}

#agari-bg {
    display: none;
    text-align: center;

    z-index: 300;
}
#agari-bg #agari  {
    margin-top: 40px;
    font: 60pt DFKai-SB;
}
#agari-bg #time {
    font: 50pt DFKai-SB;
}
#agari-bg #hand {
    margin-top: 20px;
}
#agari-bg #yaku  {
    font: 25pt DFKai-SB;
}

#agari-bg #point {
    margin-top: 30px;
    font: 40pt DFKai-SB;
}